<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body>
  <form action="/soma" method="POST">
    <label for="number1">Número 1:</label>
    <input type="number" name="num1" class="form-control" id="number1" placeholder="Informe um número"/>

    <label for="number2">Número 2:</label>
    <input type="number" name="num2" class="form-control" id="number2" placeholder="Informe um número"/>

    <button type="submit" class="botao">Somar</button>

    <label id="result">{{resultado}}</label>
  </form>
</body>
</html>